@media only screen and (max-width: 600px){
    #homeimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }
    #homeimg h1{
        text-align: center;
    }
    #homeimg img{
        width: 200px;
        text-align: justify;
    }
}
@media only screen and (min-width: 600px){
    #homeimg img{
        width: 500px;
    }
}